/* Write your CSS here */
.app-store-container {
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app-store-heading {
  font-family: Bree Serif;
  text-align: center;
  font-weight: 700;
  font-size: 60px;
}
.input-container {
  width: 30%;
  background-color: transparent;
  border: 2px solid #dfe2e5;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.search-icon-sizing {
  height: 25px;
}
.user-input {
  width: 100%;
  background-color: transparent;
  padding: 5px;
  border: 0px;
  outline: none;
  padding-left: 30px;
  font-family: Roboto;
  font-weight: 600;
  font-size: 20px;
}
.unOrdered-list-container {
  list-style: none;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.unOrdered-list-app-container {
  list-style: none;
  padding: 0px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
